/* Brreg Gravity Forms Admin Styles */

.brreg-gf-autocomplete-settings .form-table th {
    width: 200px;
}

.brreg-gf-autocomplete-settings .form-table td fieldset p {
    margin: 8px 0;
}

.brreg-gf-autocomplete-settings .form-table td fieldset label {
    display: block;
    margin-bottom: 4px;
    font-weight: 600;
}

.brreg-gf-autocomplete-settings .form-table td fieldset input[type="text"] {
    margin-top: 4px;
}

